<h4>${{coffee.price}}</h4>
<h5>{{coffee.name}}</h5>
<p>{{coffee.description}}</p>
<p>Tasting Notes: {{coffee.notes}}</p>
<a class="waves-effect waves-light btn" {{action 'addToCart' coffee}}>Add to cart</a>
